server:
  port: 9090

spring:
  application:
    name: appointment-queue-system

  datasource:
    url: jdbc:postgresql://localhost:5432/appointment_queue_db
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
